
.top-bar{
    background-color: #fff;
}
.topline{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: gray;
}
.wrapper{
    background-color: #fff;
    text-align: center;
    padding:5rem;
    margin-bottom:2rem;

}

.box{
    margin: 0 auto;
}

p{
    counter-reset:gray;
}
.liner{
    float: right;
}
.num{
    float: left;
    padding-left: 1rem;
}
.in{
    margin-top:1rem;
}
.btn{
    margin-top:1rem;

}