<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>
    <!--<link rel="stylesheet" th:href="@{/css/app.css}">-->
    <link rel="stylesheet" th:href="@{../app.css}">


</head>
<body>
<div class="expanded row">
    <div class="top-bar">

        <a th:href="@{/index}">
            <img class="logo" th:src="@{http://i.imgur.com/5fmPbeo.png}"/></a>

    </div>
</div>

<div class="row expanded topline">
    <div class="row">
        <div class="small-12 large-12  columns box">
            <div class="wrapper">
                <h3>Quiz Generator</h3>
                <p>Generate Exam for yours students</p>
                <hr>
                <form th:action="@{/conditions}" method="post">
                    <div class="row">
                        <h4>Addition</h4>
                        <div class="large-4 columns">
                            <label>Range from Number
                                <input type="number" placeholder="from" name="conditions[0].fromInt" value="0" min="0">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>To Number
                                <input type="number" placeholder="to" name="conditions[0].toInt" value="0" min="0">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Exercise Count
                                <input type="number" placeholder="how many?" name="conditions[0].exerciseCount"
                                       value="0" min="0">
                            </label>
                            <input type="hidden" placeholder="how many?" name="conditions[0].mathCondition"
                                   value="ADDITION">

                        </div>
                    </div>
                    <div class="row">
                        <h4>Subtraction</h4>
                        <div class="large-4 columns">
                            <label>Range from Number
                                <input type="number" placeholder="from" name="conditions[1].fromInt" value="0" min="0">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>To Number
                                <input type="number" placeholder="to" name="conditions[1].toInt" value="0" min="0">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Exercise Count
                                <input type="number" placeholder="how many?" name="conditions[1].exerciseCount"
                                       value="0" min="0">
                            </label>
                            <input type="hidden" placeholder="how many?" name="conditions[1].mathCondition"
                                   value="SUBTRACTION">
                        </div>
                    </div>
                    <div class="row">
                        <h4>Multiplication</h4>
                        <div class="large-4 columns">
                            <label>Range from Number
                                <input type="number" placeholder="from" name="conditions[2].fromInt" value="0" min="0">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>To Number
                                <input type="number" placeholder="to" name="conditions[2].toInt" value="0" min="0">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Exercise Count
                                <input type="number" placeholder="how many?" name="conditions[2].exerciseCount"
                                       value="0" min="0">
                            </label>
                            <input type="hidden" placeholder="how many?" name="conditions[2].mathCondition"
                                   value="MULTIPLICATION">
                        </div>
                    </div>
                    <div class="row">
                        <h4>Division</h4>
                        <div class="large-4 columns">
                            <label>Range from Number(must be > 0)
                                <input type="number" placeholder="from" name="conditions[3].fromInt" value="0" min="0"
                                       id="from">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>To Number(must be > 0)
                                <input type="number" placeholder="to" name="conditions[3].toInt" value="0" min="0"
                                       id="to">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Exercise Count
                                <input type="number" placeholder="how many?" name="conditions[3].exerciseCount"
                                       value="0" min="0" id="count">
                            </label>
                            <input type="hidden" placeholder="how many?" name="conditions[3].mathCondition"
                                   value="DIVISION">

                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <input type="submit" class="button  large" value="Generate New Exam">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
<script>
    $(document).foundation();

 /*   $(document).ready(function () {
        var a;
        var b;
        setInterval(function () {
            a = ObserveInputValue($('#from').val());
            b = ObserveInputValue($('#to').val());
            if (a && b == 0) {
                c.prop("disabled", true);

            }
        }, 100);





    });*/


</script>

</body>
</html>