<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>
    <!--<link rel="stylesheet" th:href="@{/css/app.css}">-->
    <link rel="stylesheet" th:href="@{../app.css}">


</head>
<body>
<div class="expanded row">
    <div class="top-bar ">

        <h3>Mathematix</h3>

    </div>
</div>

<div class="row expanded topline">
    <div class="row">
        <div class="small-12 large-12  columns box">
            <div class="wrapper">
                <h3>Quiz</h3>
                <p>Solve the Quiz and check the answers. Save exam.</p>
                <hr>

                <div class="area" th:each="exercise : ${add}">
                <h4 th:text="${exercise.mathAction}">Addition</h4>
                <div class="line">
                    <div class="row" >
                        <div class="large-6 columns">
                        <span class="liner"><h1 class="num" th:text="${exercise.firstInt}">10</h1><h1 class="num" th:text="${exercise.mathAction.action}">+</h1>
                            <h1 class="num" th:text="${exercise.secondInt}">55</h1><h1
                                    class="num">=</h1><input th:hidden="true"  th:value="${exercise.id}" class="exerciseId"></span>
                        </div>
                        <div class="large-2 columns ans">
                            <input type="number" class="in" placeholder="Answer Here" th:id="'answer'+${exercise.id}">
                        </div>
                        <div class="large-2 columns">
                            <input type="button" class="button btn" value="Save and Check the Answer" onclick="myFunc()" >
                        </div>
                        <div class="large-2 columns">

                        </div>
                        <hr>
                    </div>
                    <div class="row answerWrap">
                        <span class="liner2" th:id="'place'+${exercise.id}">
                        </span>
                        <hr>
                    </div>
                </div>
                </div>

                <div class="area" th:each="exercise : ${sub}">
                    <h4 th:text="${exercise.mathAction}">Addition</h4>
                    <div class="line">
                        <div class="row" >
                            <div class="large-6 columns">
                        <span class="liner"><h1 class="num" th:text="${exercise.firstInt}">10</h1><h1 class="num" th:text="${exercise.mathAction.action}">+</h1>
                            <h1 class="num" th:text="${exercise.secondInt}">55</h1><h1
                                    class="num">=</h1><input th:hidden="true"  th:value="${exercise.id}" class="exerciseId"></span>
                            </div>
                            <div class="large-2 columns ans">
                                <input type="number" class="in" placeholder="Answer Here">
                            </div>
                            <div class="large-2 columns">
                                <input type="submit" class="button btn" value="Save and Check the Answer" onclick="myFunc(this)">
                            </div>
                            <div class="large-2 columns">

                            </div>
                            <hr>
                        </div>
                        <div class="row answerWrap">
                        <span class="liner2">

                        </span>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="area" th:each="exercise : ${mul}">
                    <h4 th:text="${exercise.mathAction}">Addition</h4>
                    <div class="line">
                        <div class="row" >
                            <div class="large-6 columns">
                        <span class="liner"><h1 class="num" th:text="${exercise.firstInt}">10</h1><h1 class="num" th:text="${exercise.mathAction.action}">+</h1>
                            <h1 class="num" th:text="${exercise.secondInt}">55</h1><h1
                                    class="num">=</h1><input th:hidden="true"  th:value="${exercise.id}" class="exerciseId"></span>
                            </div>
                            <div class="large-2 columns ans">
                                <input type="number" class="in" placeholder="Answer Here" >
                            </div>
                            <div class="large-2 columns">
                                <input type="submit" class="button btn" value="Save and Check the Answer" onclick="myFunc(this)">
                            </div>
                            <div class="large-2 columns">

                            </div>
                            <hr>
                        </div>
                        <div class="row answerWrap">
                        <span class="liner2">

                        </span>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="area" th:each="exercise : ${divi}">
                    <h4 th:text="${exercise.mathAction}">Addition</h4>
                    <div class="line">
                        <div class="row" >
                            <div class="large-6 columns">
                        <span class="liner"><h1 class="num" th:text="${exercise.firstInt}">10</h1><h1 class="num" th:text="${exercise.mathAction.action}">+</h1>
                            <h1 class="num" th:text="${exercise.secondInt}">55</h1><h1
                                    class="num">=</h1><input th:hidden="true"  th:value="${exercise.id}" class="exerciseId"></span>
                            </div>
                            <div class="large-2 columns ans">
                                <input type="number" class="in" placeholder="Answer Here">
                            </div>
                            <div class="large-2 columns">
                                <input type="submit" class="button btn" value="Save and Check the Answer" onclick="myFunc(this)">
                            </div>
                            <div class="large-2 columns">

                            </div>
                            <hr>
                        </div>
                        <div class="row answerWrap">
                        <span class="liner2">

                        </span>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" class="button  large" value="Save Quiz">
                </div>

            </div>
        </div>
    </div>
</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
<script>
    $(document).foundation();

    function myFunc() {

//        var answer = $(e.tagName).closest('.ans').find('.in').val();
//        var exerciseId = $(e.tagName).closest('.liner').find('.cor').val();
        var exerciseId = $(".exerciseId").val();
        var answer = $("#answer"+exerciseId).val();



        $.ajax({
            type: "POST",
            url: "quiz/check/"+exerciseId +"?answer="+ answer,
            success:function () {
                    $("#place"+exerciseId).append('<h1 class="callout success">'+answer+'</h1>');
                    console.log("S"+answer);

            },
            error:function () {
                $("#place"+exerciseId).append('<h1 class="callout alert">'+answer+'</h1>');


            }
//            dataType: json
        });

    }

 /*   function refresh() {
        if (!window.location.hash) {
            window.location = window.location + '#ready';
            window.location.reload();
        }
    }
    setTimeout("refresh()", 2000);*/



/*
    function myFunc(e) {

        var cor = $(e.tagName).closest('.liner').find('.cor').val();
        var answer = $(e.tagName).closest('.ans').find('.in').val();
        var wrap = $(e.tagName).closest('.line').find('.liner2');


        wrap.append('<h1>'+answer+'</h1>');
        if(cor == answer){
            wrap.find("h1:last-child").addClass("callout success")
        } else wrap.find("h1:last-child").addClass("callout alert");
        if(wrap.find("h1:last-child").hasClass("success")){
            wrap.find("h1:last-child").append('<h1>Ok!</h1>');
            $(e).addClass('disabled');
        }

    }*/
</script>


</body>
</html>